
#section {
  width: 82%;
   margin: 15px auto o auto;
    padding: 10%;
    border-radius: 12px;
    border: 1px solid #e0e0e0;
    display:table;
    }
#section ul li
{
    display:table-cell;
}
#section ul li a
{
    vertical-align:middle;
    text-align:center;
}